#skills {
    height: 100vh;
}

#skillsToggle {
    height: 7vh;
}

#skills {
    color: black;
    font-weight: bold;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 30px;
}

#skills-1 {
    margin-right: 15px;
}

#skills-2 {
    margin-right: 15px;
}

#skills-3 {
    margin-right: 15px;
}

#skills-4 {
    margin-right: 15px;
}