#skills {
    height: 100vh;
}

#skillsToggle {
    height: 7vh;
}

#skills {
    color: black;
    font-weight: bold;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 30px;
    text-align: center;
}

#skillsHeader {
    margin-bottom: 50px;
    text-decoration: underline rgb(0, 173, 144);
}

.skill {
    color: white;
    margin-bottom: 15px;
    font-size: larger;
}

.skillSymbol {
    color: rgb(0, 173, 144);
}

@media only screen and (max-width: 600px) {
    #skills {
        height: 100%;
    }
}