#aboutToggle {
    height: 7vh;
}

#aboutHeader {
    margin-bottom: 50px;
    text-decoration: underline rgb(0, 173, 144);
    text-align: center;
}

#top-content {
    margin: auto;
    margin-bottom: 50px;
    /* text-align: center; */
    align-content: center;
}

#profile-img {
    display: block;
    max-width: 220px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    font-weight: bold;
    font-size: 40px;
}

#about-description {
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.spacer {
    height: 50px;
}