#hero-section {
    min-height: 89vh;
}

#hero-video {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-width: 100%;
}

.welcome {
    color: white;
    text-align: center;
    padding-top: 23vh;
}

#port-intro {
    font-size: 32px;
    padding-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

#home-button { 
    background-color: rgb(0, 173, 144);
    font-size: 26px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border:none;
    margin-bottom: 50px;
}

#home-button:hover {
    color:black;
}