footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

#footer-content {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    justify-content: center;
}

#signature {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
    gap: 5px;
    color: white;
}

@media screen and (max-width: 700px) {
    #footer-content {
        flex-direction: column;
        gap: 10px;
    }

    #contact-links {
        flex-direction: column;
        gap: 10px;
    }
}